<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chat_rooms' %>
  </div>
  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the WelcomeTech Chat App!
      </h4>

      <p>
        You can create or join a chat room from the sidebar.
      </p>
    </div>
  </div>
</div>
