<div class="row">
  <div class="col-12 col-md-3">
    <div class="mb-3">
      <%= link_to new_chat_room_path, class: "btn btn-primary" do %>
        Create a chat_room
      <% end %>
    </div>

    <% if @chat_rooms.present? %>
      <nav class="nav flex-column">
        <% @chat_rooms.each do |chat_room| %>
          <%= link_to chat_room.name, chat_room_path(chat_room), class: "nav-link chat_room-nav-link" %>
        <% end %>
      </nav>
    <% else %>
      <div class="text-muted">
        The are no chat rooms
      </div>
    <% end %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the WelcomeTech Chat App!
      </h4>

      <p>
        You can create or join a chat room from the sidebar.
      </p>
    </div>
</div>
